{% extends 'base.html' %}
{% load static %}

{% block title %}
الملف الشخصي
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">


  {% if request.user.is_authenticated %}

  <form method="POST">
  {% csrf_token %}
    {% include 'parts/alerts.html' %}   
      <div class="row">
 
        <h1> اعدادات الحساب</h1>

        <br>
        <br>
       
        <br>
      <!-- <div class="col-md-12 mb-3">
          <div class="form-group; roundees-circle ">
            <label for="" style="display: flex;">أضف صورة</label>
            <input type="file" name="user_photo" class="form-control form-control-lg form-control-a" placeholder="صورة" title="قم بإضافة صورة" required >
          </div>
      </div> -->
      <br>
      <br>
      <br>
      <div class="col-md-12 mb-3">
        <div class="form-group">
          <input type="text" name="user" class="form-control form-control-lg form-control-a" placeholder="إسمك" title="قم بإدخال إسمك" required value="{{user}}">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="col-md-12 mb-3">
          <div class="form-group">
            <input type="password" name="pass" id="password" class="form-control form-control-lg form-control-a" placeholder="كلمة المرور" title="قم بإدخال كلمة المرور"  value="{{pass}}" >
          </div>
        </div>
        <br>
        <br>
        <br>  
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <input type="password" name="pass2" onkeyup='checkPasswordMatch();' id ="pass2"class="form-control form-control-lg form-control-a" placeholder="تأكيد كلمة المرور" title="قم بإعادة كتابة كلمة المرور"  value="{{pass}}">
            <div id="divCheckPasswordMatch"></div>
            
            <!-- أكواد جافا سكربت الخاصة بتطابق كلمات المرور -->
               
            <script>
              var password = document.getElementById("password");
              var pass2 = document.getElementById("pass2");
              
              function validatePassword(){
                if(password.value != pass2.value) {
                  pass2.setCustomValidity("كلمة المرور غير متطابقة!");
                } else {
                  pass2.setCustomValidity('');
                }
              }
              password.onchange = validatePassword;
              pass2.onkeyup = validatePassword;
            </script>


          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
          <div class="form-group">
         
            <input type="email" name="email" class="form-control form-control-lg form-control-a" placeholder="عنوان البريد الإلكتروني" title="قم بإدخال البريد الإلكتروني"
                   required value="{{email}}">
            
          </div>
        </div>
        <br>

        <br>
        <br>
        <!-- <h4>نوع الحساب</h4>
        <div class="col-md-6 mb-3">
          <div class="form-group">
              <input type="radio" name="account_type" class="radio"  style="width: 20px; height: 20px;" value="agent" required >
              <label for="" style="font-size: 20px;">وكيل عقاري</label>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
              <input type="radio" name="account_type" class="radio"  style="width: 20px; height: 20px;"  value="customer"  required >
              <label for="" style="font-size: 20px;">باحث عن عقار</label>
          </div>
        </div> -->
        <br>
        <br>
        <br>
        <hr>

      <div class="col-md-12 text-center">
        <br>
        <button type="submit" class="btn btn-a" name="btnsave"> حفظ </button>
      </div>
    </div>
  </form>
  {% else %}

  <h1> اعدادات الحساب</h1>
  <h4 class="alert alert-danger">
     يجب عليك
     <a href="{% url 'login' %}" class="text-dark">
      تسجيل الدخول

     </a>

  </h4>
  {% endif %}
      
  
</div>
</center>
{% endblock %}
