{% extends 'base.html' %}
{% load static %}

{% block title %}
تسجيل الدخول
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">
    <form action="{% url "login" %}" method="POST">                  
      {% csrf_token %}
      <div class="row">
       
        <h1>تسجيل الدخول</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <input type="text" name="phoneNumber_login" class="form-control form-control-lg form-control-a" placeholder="رقم الهاتف" required>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="password" name="password_login" class="form-control form-control-lg form-control-a" placeholder="كلمة المرور" required>
            </div>
          </div>
      

        <div class="col-md-12 text-center">
          <br>
          <br>
          <button type="submit" class="btn btn-a">تسجيل الدخول</button>
          <br>
          <br>
          <p>ليس لدي حساب...
            <br>
            <a href="signup">إنشاء حساب</a></p>
        </div>
      </div>
    </form>
  </div>
</center>
{% endblock %}
