{% extends 'base.html' %}
{% load static %}

{% block title %}
تسجيل الدخول
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>



<center>
<div class="col-md-7">

    
       
    <h1>تسجيل الدخول</h1>
    <br>

  {% if request.user.is_authenticated %}
        <h4 class="alert alert-secondoery">
          أهلا وسهلاً {{request.user.username}} ، لقد قمت بتسجيل الدخول.
          <a class="text-dark" href="{% url 'index' %}"  ><br> الذهاب الى <span class="color-b">الصفحة الرئيسية</span></a>
        </h4>


{% else %}

  <form method="POST" >
    {% csrf_token %}
      
        
        
          {% include 'parts/alerts.html' %} 
        
       
        <!-- <div class="col-md-12 mb-3">
          <div class="form-group">
            <label for="phoneNumber_login">رقم الهاتف </label>
            <input type="text" name="phoneNumber_login" class="form-control form-control-lg form-control-a"  required>
          </div>
        </div> -->
        <div class="form-group">
          <label for="inputUsername">اسم المستخدم</label><br>
          <input type="text" name="user"  class="form-control form-control-lg form-control-a" id="inputUsername"  required>
        </div>
        
   
        <br>
        
        <div class="col-md-12 mb-3">
            <div class="form-group">
              <label for="inputPassword">كلمة المرور</label><br>
              <input type="password" name="pass" class="form-control form-control-lg form-control-a" id="inputPassword" required>
            </div>
          </div>
          <a href="">هل نسيت كلمة المرور؟</a>

        <div class="col-md-12 mb-3">
          <div class="form-group">
            <input type="checkbox"   name="rememberme" class=""  style="width: 20px; height: 20px;">
            <label for="checkbox" style="font-size: 20px;"  >  تذكرني</label>
          </div>
        </div>
      

        <div class="col-md-12 text-center">
        
          <button type="submit" name="btnlogin"  class="btn btn-a">تسجيل الدخول</button>
          <br>
        
          <p>ليس لدي حساب...
            <br>
            <a href="{% url 'userdata' %}">إنشاء حساب</a></p>
        </div>
      </div>
  </form>
{% endif %}
</div>
</center>
{% endblock %}
