{% extends 'base.html' %}
{% load static %}

{% block title %}
change password done
{% endblock %}




{% block content %}
 
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>



<center>
<div class="col-md-7">

       
  <h4 class="color-b">تغيير كلمة المرور </h4>
  <li class="breadcrumb-item active">نجحت العملية  </li>

 
<div class="alert alert-success" role="alert" >
   قمت بتغيير كلمة المرور بنجاح :) 

</div>


<a href="{% url 'logout' %}" >قم بتسجيل الدخول مره اخرى</a>

</center>
{% endblock %}
