{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br><br><br><br><br>
<div class="reservation-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header" style="background-color: #2eca6a; ">
            <h2 class="text-center">إعادة تعيين كلمة المرور</h2>
          </div>
          <div class="card-body">
            <form id="reservation-form" method="post">
              {% csrf_token %}
              <center>
                <br>
              {{ form.as_p }}
              <br>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-a">إعادة تعيين كلمة المرور</button>
                </div>
            </center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
