{% extends 'base.html' %}
{% load static %}

{% block title %}
إعادة تعيين كلمة المرور
{% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br><br><br>
<div class="reservation-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header" style="background-color: #2eca6a; ">
            <h2 class="text-center">إعادة تعيين كلمة المرور</h2>
          </div>
          <div class="card-body">
            <form id="reservation-form" method="post">
              {% csrf_token %}
              <center>
              <div class="form-group">
                <div class="col-lg-12">
                  <h2>تم إرسال رابط إعادة تعيين كلمة المرور</h2>
                  <p>تحقق من بريدك الإلكتروني للحصول على رابط لإعادة تعيين كلمة المرور.</p>
                </div>
              </div>
            </center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
