{% extends 'base.html' %}
{% load static %}
{% block title %}
سياسة الخصوصية
{% endblock %}
{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">سياسة الخصوصية وشروط الأحكام</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="post-content color-text-a">
              <p class="post-intro">
                شكرًا لاستخدامك <span class="color-b">إيجاد</span>.
                يُرجى قراءة سياسة الخصوصية والأحكام التالية بعناية قبل استخدام الموقع أو التطبيق.
                <br>
                 تحدد هذه السياسة والأحكام كيفية جمعنا واستخدامنا للمعلومات التي تقدمها لنا عند استخدام خدمتنا.
              </p>
              <p>
                جمع المعلومات، نقوم بجمع المعلومات التالية:
              </p>
              <p>
                1. المعلومات الشخصية: قد نحتاج إلى جمع معلومات شخصية مثل الاسم ومعلومات الاتصال (عنوان البريد الإلكتروني ورقم الهاتف) لتوفير خدماتنا والتواصل معك.
              </p>
              <p>
                2. معلومات العقارات: قد نحتاج إلى جمع معلومات حول العقارات المعروضة أو المطلوبة، مثل النوع، الموقع، المساحة، السعر، وصور العقارات ما يعني ضرورة الوصول إلى وسائط الجهاز الخاص بك، لعرضها للمستخدمين المهتمين وتسهيل عمليات البيع والشراء والإيجار.
              </p>
              <p>
                استخدام المعلومات، نستخدم المعلومات التي نجمعها للأغراض التالية:
              </p>
              <p>
                1. توفير الخدمات: نستخدم المعلومات لعرض العقارات المتاحة للبيع أو الإيجار وتسهيل الاتصال بين المستخدمين الذين يرغبون في شراء أو استئجار العقارات.
              </p>
              <p>
                2. التواصل: قد نستخدم معلومات الاتصال التي تقدمها لنا للتواصل معك بشأن استفساراتك وطلباتك وتقديم المساعدة المطلوبة.
              </p>
              <p>
                3. تحسين الموقع أو التطبيق: قد نستخدم المعلومات لتحسين تجربة المستخدم ووظائف الموقع أو التطبيق، وتطوير ميزات جديدة، وإجراء بحوث السوق والتحليلات.
              </p>
              <p>
                الوصول إلى المعلومات، نحترم حقك في الوصول إلى المعلومات الشخصية التي نحتفظ بها عنك وتحديثها أو حذفها. يمكنك طلب الوصول إلى المعلومات الشخصية عن طريق الاتصال بفريق دعم العملاء لدينا وتقديم طلبك. سنبذل قصارى جهدنا للرد عليك في أقرب وقت ممكن وفقًا للقوانين المحلية ذات الصلة.
              </p>
              <p>
                مشاركة المعلومات، نحن نلتزم بعدم مشاركة المعلومات الشخصية التي نجمعها مع أطراف ثالثة بدون موافقتك الصريحة، إلا في الحالات التالية:
              </p>
              <p>
                1. الموافقة: إذا قمت بمشاركة معلوماتك الشخصية بموافقتك الصريحة للأطراف الثالثة المحددة.
              </p>
              <p>
                2. الالتزام القانوني: إذا كان هناك الالتزام القانوني بمشاركة المعلومات المطلوبة من قبل السلطات المختصة أو للامتثال للقوانين واللوائح المحلية.
              </p>
              <p>
                الأمان، نحن نهتم بحماية المعلومات الشخصية التي نجمعها وتطبيق إجراءات أمنية مناسبة للحفاظ على سرية وسلامة هذه المعلومات. ومع ذلك، يجب ملاحظة أنه ليس هناك أمن مطلق على الإنترنت ولا يمكننا ضمان حماية مطلقة للمعلومات.
              </p>
              <p>
                ملفات تعريف الارتباط، قد نستخدم ملفات تعريف الارتباط (الكوكيز) لتحسين تجربة استخدام الموقع أو التطبيق وتخصيص المحتوى. يمكنك تعديل إعدادات ملفات تعريف الارتباط على جهازك للسماح أو منع استخدامها وفقًا لتفضيلاتك الشخصية.
              </p>
              <p>
                التغييرات في السياسة، نحتفظ بالحق في تعديل سياسة الخصوصية والأحكام هذه من وقت لآخر. ستكون أي تغييرات سارية المفعول فور نشرها على الموقع أو التطبيق. يُنصح بمراجعة سياسة الخصوصية والأحكام بانتظام.
              </p>
              <p>
                اتصل بنا، إذا كان لديك أي أسئلة أو استفسارات بشأن سياسة الخصوصية والأحكام، يُرجى الاتصال بفريق دعم العملاء لدينا عبر البريد الإلكتروني أو رقم الهاتف الموضحة على الموقع أو التطبيق.
              </p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Single-->

  </main><!-- End #main -->
  {% endblock %}
