{% extends 'base.html' %}
{% load static %}

{% block title %}
إنشاء حساب
{% endblock %}

{% block content %}

<!-- <link rel="stylesheet" href="{% static 'alwi.css' %}"> -->

<div class="my-form container p-5 my-5 rounded border border-warning">
<br>
<br>
<br>


    {% include 'parts/alerts.html' %}
    <br><br>
    <h2 class="text-center">الملف الشخصي </h2>
    <hr>  
  {% if is_add == True %}
  <form method="POST" style="display: none;">
  {% else %}
  <form method="POST">

  {% endif %}
    
        {% csrf_token %} 

        
        <!-- {% if book.photo_book %}
        <div class="form-group">
          <label for="profil_photo" style="display: flex;">أضف صورة</label>
          <input type="file" name="profil_photo" accept="image/*"  class="form-control form-control-lg form-control-a" placeholder="صورة" title="قم بإضافة صورة" value="{{user.profil_photo.url}}" required >
        </div>
        <img style="height: 120px; width: 120px;"  src="{{book.photo_book.url}}" alt="" class="img-circle img-fluid">
    {% else %}
        <img style="height: 120px; width: 120px;"  src="{%static 'assets/img/1.png'%}" alt="" class="img-circle img-fluid">
    {% endif %} -->
      
<!-- 
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="profil_photo" style="display: flex;">أضف صورة</label>
                <input type="file" name="profil_photo" accept="image/*"  class="form-control form-control-lg form-control-a" placeholder="صورة" title="قم بإضافة صورة" value="{{user.Agent.profil_photo.url}}" required >
              </div>
          </div> -->
          
          

          <h4>نوع الحساب</h4>
          <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="radio"  name="exit" class="checkmark"  style="width: 20px; height: 20px;"  value="agent" >
                <label for="" style="font-size: 20px;">وكيل عقاري</label>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group"> 
                <input type="radio" name="exit" class="checkmark"  style="width: 20px; height: 20px;"  value="customer" >
                <label for="" style="font-size: 20px;">باحث عن عقار</label>
            </div>
          </div> 
        
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fname"> الإسم الأول</label>
                <input type="text" class="form-control" id="fname" name="fname" required value="{{fname}}">
              </div><br>

              <div class="form-group col-md-6">
                <label for="last_name"> الإسم الأخير </label>
                <input type="text" class="form-control" id="last_name" name="last_name" required value="{{last_name}}">
              </div><br>
              <div class="form-group col-md-6">
                <label for="username">إسم المستخدم</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="" required value="{{username}}">
              </div><br>
            </div>

            <div class="form-group">
              <label for="password">كلمة المرور</label>
              <input type="password" name="password" id="password" class="form-control form-control-lg form-control-a" placeholder=" كلمة المرور" title="قم  بكتابة كلمة المرور" required >
            </div><br>
            <div class="form-group">
              <label for="password_confirm">تأكيد كلمة المرور</label>
              <input type="password" name="password_confirm" id="confirm-password" onkeyup='checkPasswordMatch();' class="form-control form-control-lg form-control-a" placeholder=" تأكيد كلمة المرور" title="قم بإدخال تأكيد كلمة المرور" required value="{{password_confirm}}">
            </div><br>
            <div id="divCheckPasswordMatch"></div>
              <!-- أكواد جافا سكربت الخاصة بتطابق كلمات المرور -->
              <script>
                var password = document.getElementById("password");
                var confirm_password = document.getElementById("confirm-password");
                
                function validatePassword(){
                  if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("كلمة المرور غير متطابقة!");
                  } else {
                    confirm_password.setCustomValidity('');
                  }
                }
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
              </script>
              <!-- نهاية الكود -->

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="phone">رقم الهاتف </label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder=" 7xxxxxxxx"   minlength="9" maxlength="9" pattern="7\d{0,}"  autocomplete="off" title=" يجب أن يبتدئ الرقم ب 7 وان لا يحتوي على حروف " 
                  placeholder="967+" required value="{{phone}}" >
              </div>
            </div><br>
      
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="email"> البريد الإلكتروني </label>
                <input type="email" name="email" class="form-control form-control-lg form-control-a" placeholder="عنوان البريد الإلكتروني" title="قم بإدخال البريد الإلكتروني"
                              required value="{{email}}">
              </div>
            <div class-row>
           
            </div><br>

                 
                            <div class="col-md-12 mb-3">
                              <div class="form-group">
                                <input type="checkbox"  id="inputTerms"  name="terms" class=""  style="width: 20px; height: 20px;">
                                <label for="checkbox" style="font-size: 20px;"  >  الموافقة على سياسة الخصوصية وشروط الاحكام</label>
                              </div>
                            </div>
                          
                      </div>
                      <button type="submit"  name="btnprof" class="btn btn-a"> تسجيل</button>
                  </div>
                
              </form>

          </div>

{% endblock %}
