{% extends 'base.html' %}
{% load static %}

{% block title %}
إنشاء حساب
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">
    <form action="{% url "verification" %}" method="POST">                  
      {% csrf_token %}
      <div class="row">
        <h1>رقم الهاتف</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-6 mb-3" style="width: 75%; direction: ltr;">
          <div class="form-group">
            <input type="text" name="textSignup_signup" class="form-control form-control-lg form-control-a" name="firstDigit" placeholder=" 7xxxxxxxx"   minlength="9" maxlength="9" pattern="7\d{0,}"  autocomplete="off" title=" يجب أن يبتدئ الرقم ب 7 وان لا يحتوي على حروف " required>
          </div>
        </div>
        <div class="col-md-6 mb-3" style="width: 150px;">
          <div class="form-group">
            <input name="countryCode_signup" type="email" class="form-control form-control-lg form-control-a" placeholder="967+" readonly required>
          </div>
        </div>


        <div class="col-md-12 text-center">
          <br>
          <button type="submit" class="btn btn-a"> التالي</button>
          <br>
          <br>
          <p>لدي حساب بالفعل...
            <br>
            <a href="login">تسجيل دخول</a></p>
        </div>
      </div>
    </form>
  </div>
</center>
{% endblock %}
