{% extends 'base.html' %}
{% load static %}

{% block title %}
إنشاء حساب
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">
    <form method ="POST" action="{% url 'verification' %}">                  
      {% csrf_token %} 
        <h2>رقم الهاتف</h2>
        <br>
      <div class="row">
        {% include 'parts/alerts.html' %} 

        <div class="col-md-6 mb-3" style="width: 75%; direction: ltr;">
          <div class="form-group">
          <input type="text" name="numberInput"   id="numberInput"  class="form-control form-control-lg form-control-a"  placeholder=" 7xxxxxxxx"   minlength="9" maxlength="9" pattern="7\d{8}"  oninput="checkInput()" title=" يجب أن لا يقل طول السلسلة عن 9 ارقام" required>
          </div>
          
<script>
  function checkInput() {
    const numberInput = document.getElementById("numberInput");
    const value = numberInput.value;

    if (value != "" && isNaN(value)) {
      numberInput.value = "";
      alert("يسمح بالأرقام فقط!");
      return;
    }

    if (value.length > 9) {
      numberInput.value = value.slice(0, 9);
    }

   /* if (!value.startsWith("7")) {
      numberInput.value = "";
      alert("يجب أن يبدأ الرقم بـ 7!");
    }
    */
  }
</script>


        </div>
        <div class="col-md-6 mb-3" style="width: 150px;">
          <div class="form-group">
            <input  type="email" class="form-control form-control-lg form-control-a"  name="countryCode" placeholder="967+" readonly required>
          </div>
        </div>


        <div class="col-md-12 text-center">
          <br>
          <button type="submit" name="btnsignup" class="btn btn-a"> التالي</button>
          <br>
    
          <br>
          <p>لدي حساب بالفعل...
            <br>
            <a href="login">تسجيل دخول</a></p>
        </div>
      </div>
    </form>
  </div>
</center>
{% endblock %}
