  {% extends 'base.html' %}
  {% load static %}

  {% block title %}
  بيانات
  {% endblock %}

  {% block content %}

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

 <center>
  <div class="col-md-7">
  {% include 'parts/alerts.html' %} 
 {% if is_added == True %}
   <form method="POST" style="display:none;">  
    {% csrf_token %}   
 {% else %}
 
     <form method="POST" enctype="multipart/form-data">
 {% endif %}
   
                    
        <div class="row">
        
          {% csrf_token %} 
        
          <h1> إنشاء حساب</h1>

          <br>
          <br>
         
          <br>
          <div class="col-md-12 mb-3">
            <div class="form-group roundees-circle">
              <label for="user_photo" style="display: flex;">أضف صورة</label>
              <input type="file" id="user_photo" name="user_photo" class="form-control form-control-lg form-control-a" placeholder="صورة" title="قم بإضافة صورة" value="{{user_photo}}">
            </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <input type="text" name="user" class="form-control form-control-lg form-control-a" placeholder="إسمك" title="قم بإدخال إسمك" required value="{{user}}">
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="password" name="pass" id="password" class="form-control form-control-lg form-control-a" placeholder="كلمة المرور" title="قم بإدخال كلمة المرور"  value="{{pass}}" >
            </div>
          </div>
          <br>
          <br>
          <br>  
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="password" name="pass2" onkeyup='checkPasswordMatch();' id ="pass2"class="form-control form-control-lg form-control-a" placeholder="تأكيد كلمة المرور" title="قم بإعادة كتابة كلمة المرور"  value="{{email}}">
              <div id="divCheckPasswordMatch"></div>
              
              <!-- أكواد جافا سكربت الخاصة بتطابق كلمات المرور -->
                 
                <script>
                  var password = document.getElementById("password");
                  var pass2 = document.getElementById("pass2");
                  
                  function validatePassword(){
                    if(password.value != pass2.value) {
                      pass2.setCustomValidity("كلمة المرور غير متطابقة!");
                    } else {
                      pass2.setCustomValidity('');
                    }
                  }

                  password.onchange = validatePassword;
                  pass2.onkeyup = validatePassword;
                </script>


            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="col-md-12 mb-3">
            <div class="form-group">
           
              <input type="email" name="email" class="form-control form-control-lg form-control-a" placeholder="عنوان البريد الإلكتروني" title="قم بإدخال البريد الإلكتروني"
                     required value="{{email}}">
              
            </div>
          </div>
          <br>

          <br>
          <br>
          <h4>نوع الحساب</h4>
          <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="radio" name="account_type" class="radio"  style="width: 20px; height: 20px;" value="agent" required>
                <label for="" style="font-size: 20px;">وكيل عقاري</label>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="radio" name="account_type" class="radio"  style="width: 20px; height: 20px;" value="customer" required >
                <label for="" style="font-size: 20px;">باحث عن عقار</label>
            </div>
          </div>
          <br>
          <br>
          <br>
          <hr>


          <div class="form-group">
            <input type="checkbox" id="checkbox" name="accepted" class="" style="width: 20px; height: 20px;" required>
            <label for="checkbox" style="font-size: 20px;">
              أوافق على 
              <a href="{% url 'privacy_policy' %}" target="_blank">شروط الخصوصية والأحكام</a>
            </label>
          </div>
        <div class="col-md-12 text-center">
          <br>
          <button type="submit" class="btn btn-a" name="btncreate">إنشاء حساب</button>
        </div>
      </div>
    </form>
    
  </div>
</center>
{% endblock %}
