{% extends 'base.html' %}
{% load static %}

{% block title %}
بيانات
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">
    <form method="post">                  
      {% csrf_token %} 
      <div class="row">
       
        <hr>
        {% include 'parts/alerts.html' %} 
        <hr>
        <h1>أدخل بياناتك</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
            <div class="form-group">
              <label for="" style="display: flex;">أضف صورة</label>
              <input type="file" name="user_photo" accept="image/*" class="form-control form-control-lg form-control-a" placeholder="صورة" title="قم بإضافة صورة" required>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="إسمك" title="قم بإدخال إسمك" required>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="password" name="password" class="form-control form-control-lg form-control-a" placeholder="كلمة المرور" title="قم بإدخال كلمة المرور" required>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="password" name="Password_confirm" class="form-control form-control-lg form-control-a" placeholder="تأكيد كلمة المرور" title="قم بإعادة كتابة كلمة المرور" required>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="email" name="email" class="form-control form-control-lg form-control-a" placeholder="عنوان البريد الإلكتروني" title="قم بإدخال البريد الإلكتروني" required>
            </div>
          </div>
          <br>
          <br>
          <br>
          <h4>نوع الحساب</h4>
          <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="radio"  name="exit" class="checkmark" required style="width: 20px; height: 20px;">
                <label for="" style="font-size: 20px;">وكيل عقاري</label>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group"> 
                <input type="radio" name="exit" class="checkmark"  style="width: 20px; height: 20px;">
                <label for="" style="font-size: 20px;">باحث عن عقار</label>
            </div>
          </div>
          <br>
          <br>
          <br>
          <hr>
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="checkbox" name="ApprovalOfProvisions_userData" class="" required style="width: 20px; height: 20px;" title="اتحمل مسؤولية الموافقة على سياسة وشروط احكام المنصة">
              <label for="" style="font-size: 20px;">الموافقة على <a href="#">سياسة وشروط الاحكام</a></label>
            </div>
          </div>
       

        <div class="col-md-12 text-center">
          <br>
          <button type="submit" class="btn btn-a">إنشاء حساب</button>
        </div>
      </div>
    </form>
  </div>
</center>
{% endblock %}
