{% extends 'base.html' %}
{% load static %}

{% block title %}
كود التحقق
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">
    <form action="{% url "userdata" %}" method="POST">                  
      {% csrf_token %}
      <div class="row">
       
        <h1>أدخل كود التحقق</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="captcha">
          <input type="text" maxlength="1" pattern="\d" oninput="jumpToNextField(this)" onkeydown="jumpToPrevField(this)" autofocus  required  />
          <input type="text" maxlength="1" pattern="\d" oninput="jumpToNextField(this)" onkeydown="jumpToPrevField(this)" required />
          <input type="text" maxlength="1" pattern="\d" oninput="jumpToNextField(this)" onkeydown="jumpToPrevField(this)" required />
          <input type="text" maxlength="1" pattern="\d" oninput="jumpToNextField(this)" onkeydown="jumpToPrevField(this)" required />
          <input type="text" maxlength="1" pattern="\d" oninput="jumpToNextField(this)" onkeydown="jumpToPrevField(this)" required />
          <input type="text" maxlength="1" pattern="\d" onkeydown="jumpToPrevField(this)"  required />
        </div>
        
        <style>
          #captcha input[type="text"] {
            width: 40px;
            height: 40px;
            font-size: 25px;
            text-align: center;
            margin-right: 15px;
          }
        </style>

        <script>
          function jumpToNextField(currentField) {
            var maxLength = parseInt(currentField.getAttribute('maxlength'));
            var pattern = new RegExp(currentField.getAttribute('pattern'));
            var value = currentField.value;
            if (value.length >= maxLength) {
              if (pattern.test(value)) {
                var nextField = currentField.nextElementSibling;
                if (nextField) {
                  nextField.focus();
                }
              } else {
                currentField.value = '';
              }
            }
          }
        
            function jumpToPrevField(currentField) {
              if (event.keyCode === 8 && currentField.value.length === 0) {
                var prevField = currentField.previousElementSibling;
                if (prevField) {
                  prevField.focus();
                }
              }
            }
        </script>
        <br>
        <br>
        <br>
        <div class="col-md-12 text-center">
          <p>
            <a href="verification">أعد ارسال الكود</a></p>
          <br>
          <button type="submit" class="btn btn-a">تحقق</button>
          <br>
          <br>
        </div>
      </div>
    </form>
  </div>
</center>
{% endblock %}
