{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="limiterD">
		<div class="container-login100D">
			<div class="wrap-login100D">
				<div class="login100-picD js-tiltD" d2ata-tilt>
					<img src="{% static 'assets/images/img-01.png' %}" alt="IMG">
				</div>

				<form class="login100-formD validate-formD" action="logIn">
					<span class="login100-form-titleD">
						Create Account
					</span>

					<div class="wrap-input100D validate-inputD" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100D" type="text" name="name" placeholder="Your Name" required>
						<span class="focus-input100D"></span>
						<span class="symbol-input100D">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100D validate-inputD" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100D" type="text" name="email" placeholder="Email" required>
						<span class="focus-input100D"></span>
						<span class="symbol-input100D">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100D validate-inputD" data-validate = "Password is required">
						<input class="input100D" type="password" name="pass" placeholder="Password" required>
						<span class="focus-input100D"></span>
						<span class="symbol-input100D">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="wrap-input100D validate-inputD" data-validate = "Password is required">
						<input class="input100D" type="password" name="con" placeholder=" Confirm Password" required>
						<span class="focus-input100D"></span>
						<span class="symbol-input100D">
							<i class="fa fa-retweet" aria-hidden="true"></i>
						</span>
					</div>


					<div class="radio_contentD">
					
						<label style="order: 1">Customer <input type="radio" name="group1" required></label>
						<label style="order : 2">Agent <input type="radio" name="group1" required></label>

				    </div>

					<style>
					  </style>
					<div class="container-login100-form-btnD">
						<button class="login100-form-btnD">
							Login
						</button>
					</div>

					<div class="text-center p-t-12D">
						<!-- <span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a> -->
					</div>

					<div class="text-center p-t-136D">
						<!-- <a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a> -->
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}