{% extends 'base.html' %}
{% load static %}

{% block title %}
الرئيسية
{% endblock %}

{% block content %}

  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-1.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      يمكنك<span class="color-b"> طلب </span> عقارك بالتفصيل عبر منصة إيجاد
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      قم بإضافة <span class="color-b">عقار </span> مع جميع التفاصيل الخاصه فيه
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      وجهتك الاولى!
                      <br>عند <span class="color-b">الطلب</span> او<span class="color-b"> البحث</span> عن عقار
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">عقارات اليمن</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'property_grid' %}">مشاهدة الكل
                  <span class="bi bi-chevron-left"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">


            {% for city in city %}
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{{city.phohto.url}}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property_grid' %}">{{city.city_name}}
                          <br /></a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      
                      <a href="{% url 'property_grid' %}" class="link-a">العقارات المخصصة
                        <span class="bi bi-chevron-left"></span>
                      </a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% endfor %}

            

          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

      <!-- ======= Latest Properties Section ======= -->

    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">العقارات المميزة</h2>
              </div>
            </div>
          </div>
        </div>
        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            {% for property in properties %}
            {% if property.state == True %}
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                {% if property.img %}
                    <img src="{{property.img.url}}" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                {% else %}
                    <img src="{% static 'assets/img/noPhoto.png' %}" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                {% endif %}
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property_single' property.id %}">{{property.title}}
                          <br>{{property.property_type}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">السعر | {{property.price}} ريال</span>
                      </div>
                      <a href="{% url 'property_single' property.id %}" class="link-a">{{property.area}} , {{property.area.city}}
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">المساحة</h4>
                          <span>{{property.space}}m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">الغرف</h4>
                          <span>{{property.room_number}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">دورات المياه</h4>
                          <span>{{property.bathrooms}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">الصالات</h4>
                          <span>{{property.hall_room}}</span>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                              خيارات
                          </a>
                            <div class="dropdown-menu">
                              {% if request.user.customer %}
                              <a class="dropdown-item" style="color: red;" href="{% url 'report_property' property.id %}">إبلاغ!</a>
                              {% endif %}
                              <a class="dropdown-item" href="">مشاركة</a>
                              {% if request.user.customer %}
                              <a class="dropdown-item" href="{% url 'add_comp' property.id %}">إضافة الى المقارنة</a>
                              <a class="dropdown-item" style="color: #2eca6a;" href="{% url 'add_fave' property.id %}">إضافة الى المفضلة</a>
                              {% endif %}
                              {% if user.is_authenticated and user.agent %}
                              {% if request.user.agent == property.agent %}
                              <a class="dropdown-item" href="{% url 'edit_property' property.id %}">تعديل</a>
                              {% endif %}
                              {% endif %}
                            </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% endif %}
            {% endfor %}

          </div>
        </div>
        <div class="propery-carousel-pagination1 carousel-pagination1"></div>

      </div>
    </section><!-- End Latest Properties Section -->
    <!-- ======= Latest News Section ======= -->



    <section class="section-news section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">أخر الاخبار</h2>
              </div>
              
            </div>
          </div>
        </div>

        <div id="news-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/post-3.jpg' %}" alt="" class="img-b img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">المستخدمين</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="{% url 'blog_single' %}">{{alluser}}
                          <br> <li class="bi bi-person"></li></a>
                      </h2>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/post-2.jpg' %}" alt="" class="img-b img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">العقارات</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="{% url 'blog_single' %}">{{allproperty}}
                          <br> <li class="bi bi-house"></li></a>
                      </h2>
                    </div>
                
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/post-4.jpg' %}" alt="" class="img-b img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">الطلبات</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="{% url 'blog_single' %}">{{allorder}}
                          <br> <li class="bi bi-check2-all"></li></a>
                      </h2>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/post-1.jpg' %}" alt="" class="img-b img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">الصفقات</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="#">{{allbooking}}
                          <br> <li class="bi bi-arrow-left-right"></li></a>
                      </h2>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

          </div>
        </div>

        <div class="news-carousel-pagination carousel-pagination"></div>
      </div>
    </section><!-- End Latest News Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">تعليمات</h2>
              </div>
            </div>
          </div>
        </div>

        <div id="testimonial-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/Ejad04(1).jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        يمكنك من خلال <span class="color-b">إيجاد</span> البحث عن عقارات حسب رغبتك وذلك عبر رز "العقارات" ،
                        الموجود في الشريط العلوي الخاص بالصفحة. وسوف تجد العديد من الخيارات المتاحة امامك ،
                        بعد اختيار عقارك المناسب يمكنك التواصل مع مالك العقار للإتفاق في مابينكم حول السعر والمكان والامور الاخرى.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/Ejad04.jpg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">فريق تطوير إيجاد</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            
            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/Ejad02(1).jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        يمكنك من خلال <span class="color-b">إيجاد</span> البحث عن عقارات حسب رغبتك وذلك عبر رز "العقارات" ،
                        الموجود في الشريط العلوي الخاص بالصفحة. وسوف تجد العديد من الخيارات المتاحة امامك ،
                        بعد اختيار عقارك المناسب يمكنك التواصل مع مالك العقار للإتفاق في مابينكم حول السعر والمكان والامور الاخرى.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/Ejad02.jpg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">فريق تطوير إيجاد</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/Ejad03(1).jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        يمكنك من خلال <span class="color-b">إيجاد</span> البحث عن عقارات حسب رغبتك وذلك عبر رز "العقارات" ،
                        الموجود في الشريط العلوي الخاص بالصفحة. وسوف تجد العديد من الخيارات المتاحة امامك ،
                        بعد اختيار عقارك المناسب يمكنك التواصل مع مالك العقار للإتفاق في مابينكم حول السعر والمكان والامور الاخرى.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/Ejad03.jpg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">فريق تطوير إيجاد</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

          </div>
        </div>
        <div class="testimonial-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

{% endblock %}
