{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="limiterA">
		<div class="container-login100A">
			<div class="wrap-login100A">
				<div class="login100-picA js-tiltA" data-tilt>
					<img src="{% static 'assets/images/ejad.jpg' %}" alt="IMG">
				</div>

				<form class="login100-formA validate-formA" action="verificationCode">
					<span class="login100-form-titleA">
						Welcome
					</span>

					

					
					<div class="wrap-input100A validate-inputA" data-validate = "Password is required">
                        <label for="phoneNumberA"> Enter Your Phone Number  </label>
						<div class="phone-input-containerA">
							<span class="country-codeA">+967</span>
						<input class="input100A"  id="noSpaceInputA" type="text" name="firstDigit" placeholder="Phone Number"   minlength="9" maxlength="9" pattern="7\d{0,}"  autocomplete="off" title=" يجب أن يبتدئ الرقم ب 7 وان لا يحتوي على حروف " required>

						<span class="focus-input100A"></span>
						<span class="symbol-input100A"></span>
					</div>
				
					<div class="container-login100-form-btnA">
						<button class="login100-form-btnA">
							Next
						</button>
					</div>

					<div class="text-center p-t-136A">
						<a class="txt2A" href="logIn">
							Sign_in
							<i class="fa fa-long-arrow-right m-l-5A" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}