{% extends 'base.html' %}
{% load static %}

{% block title %}
إضافة عقار
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

<center>
<div class="col-md-7">
    <form action="{% url "property" %}" method="POST">                  
      {% csrf_token %}
      <div class="row">
        <!-- <div class="col-md-6 mb-3">
          <div class="form-group">
            <input type="text" name="username" class="form-control form-control-lg form-control-a" placeholder="إسمك" required>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="البريد الإلكتروني" required>
          </div>
        </div> -->
        <h1>أضافة عقار</h1>
        
        <br>
        <br>
        <br>
          <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="radio" name="username" class="" required style="width: 20px; height: 20px;">
                <label for="" style="font-size: 20px;">إيجار</label>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="radio" name="username" class="" required style="width: 20px; height: 20px;">
                <label for="" style="font-size: 20px;">بيع</label>
            </div>
          </div>

        <div class="col-md-6 mb-2" style="width: 100%;">
          <div class="form-group mt-3">
            <label class="pb-2" for="propertyType" style="display: flex;">نوع العقار</label>
            <select class="form-control form-select form-control-a" id="bathrooms" title="نوع العقار" style="line-height: 2;">
              <option>شقة</option>
              <option>فيلا</option>
              <option>أرض</option>
              <option>محل</option>
              <option>شاليهات</option>
              <option>غرف</option>
            </select>
          </div>
        </div>
        <br>
        <div class="col-md-6 mb-2" style="width: 100%;">
          <div class="form-group mt-3">
            <label class="pb-2" for="propertyType" style="display: flex;">المحافظة</label>
            <select class="form-control form-select form-control-a" id="bathrooms" title="المحافظة" style="line-height: 2;">
              <option>الأمانة</option>
              <option>صنعاء</option>
              <option>عدن</option>
              <option>تعز</option>
              <option>إب</option>
              <option>الحديدة</option>
              <option>حجة</option>
              <option>عمران</option>
              <option>البيضاء</option>
              <option>الجوف</option>
              <option>ذمار</option>
              <option>شبوة</option>
              <option>مأرب</option>
              <option>المهرة</option>
              <option>أبين</option>
              <option>لحج</option>
              <option>المحويت</option>
              <option>الضالع</option>
              <option>صعدة</option>
              <option>ريمة</option>
            </select>
          </div>
        </div>
        <br>
        <div class="col-md-6 mb-2" style="width: 100%;">
          <div class="form-group mt-3">
            <label class="pb-2" for="propertyType" style="display: flex;">المديرية</label>
            <select class="form-control form-select form-control-a" id="bathrooms" title="المديرية" style="line-height: 2;">
              <option>الوحدة</option>
              <option>معين</option>
              <option>صنعاء القديمة</option>
              <option>شعوب</option>
              <option>اّزال</option>
              <option>الصافية</option>
              <option>السبعين</option>
              <option>التحرير</option>
              <option>الثورة</option>
              <option>بني حارث</option>
            </select>
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="col-md-12 text-center">
          <br>
          <button type="submit" class="btn btn-a">التالي</button>
        </div>
      </div>
    </form>
  </div>
</center>
{% endblock %}
