{% extends 'base.html' %}
{% load static %}

{% block title %}
بياناتي
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">بياناتي</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-3">
                <div class="agent-avatar-box">
                  {% if agt.profil_photo %}
                      <img src="{{agt.profil_photo.url}}" alt="" class="agent-avatar img-fluid">
                  {% else %}
                    <img src="{% static 'assets/img/avatar1.png' %}" alt="" class="agent-avatar img-fluid">
                  {% endif %}
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d1">
                      <h3 class="title-d1">الوكيل {{agt.user.username}}</h3>
                      {% if agt.state == True %}
                      <h5 class="color-text-a bi bi-patch-check-fill"> حساب موثق</h5>
                      {% endif %}
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <p class="content-d color-text-a">
                      صنعاء
                    </p>
                    <div class="info-agents color-a">
                      {% if agt.who_i %}
                      <p>
                        <strong>  نبذة عني :</strong>
                        <span class="color-text-a">  {{agt.who_i}}</span>
                      </p>
                      {% endif %}
                      {% if agt.address %}
                      <p>
                        <strong>العنوان: </strong>
                        <span class="color-text-a">{{agt.address}}</span>
                      </p>
                      {% endif %}
                      <p>
                        <strong>جوال: </strong>
                        <span class="color-text-a">{{agt.phone}}</span>
                      </p>
                      <p>
                        <strong>البريد الإلكتروني: </strong>
                        <span class="color-text-a">{{agt.user.email}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="socials-footer">
                    <ul class="list-inline">
                      {% if agt.facebook %}
                      <li class="list-inline-item">
                        <a href="{{agt.facebook}}" target="_blank" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if agt.twitter %}
                      <li class="list-inline-item">
                        <a href="{{agt.twitter}}" target="_blank" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if agt.instagram %}
                      <li class="list-inline-item">
                        <a href="{{agt.instagram}}" target="_blank" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d1">
              <h3 class="title-d1">العقارات ({{num_properties}})</h3>
            </div>
          </div>
          <section class="property-grid grid">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="grid-option">
                    <form>
                      <select class="custom-select" id="property-select">
                        <option value="all">الكل</option>
                        <option value="rental">إيجار</option>
                        <option value="buying">بيع</option>
                      </select>
                    </form>
                  </div>
                </div>
                
                <script>
                  const sortSelect = document.getElementById('property-select');
      sortSelect.addEventListener('change', filterOrders);
      
      function filterOrders() {
        const selectedValue = sortSelect.value;
        const orderElements = document.querySelectorAll('.property');
      
        orderElements.forEach(order => {
          if (selectedValue === 'all') {
            order.style.display = 'block';
          } else if (selectedValue === 'rental' && order.classList.contains('rental')) {
            order.style.display = 'block';
          } else if (selectedValue === 'buying' && order.classList.contains('buying')) {
            order.style.display = 'block';
          } else {
            order.style.display = 'none';
          }
        });
      }
                </script>
            {% for property in properties %}
            <div class="col-md-4 property property-{{property.property_type}} {% if property.state %}order-state{% endif %} {% if property.title == 'إيجار' %}rental{% endif %} {% if property.title == 'بيع' %}buying{% endif %} {% if property.id %}old-to-new{% endif %}"">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  {% if property.img %}
                  <img src="{{property.img.url}}" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                  {% else %}
                  <img src="{% static 'assets/img/noPhoto.png' %}" alt="" class="img-a img-fluid">
                  {% endif %}
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property_single' property.id %}">{{property.title}}
                          <br>{{property.property_type}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">السعر | {{property.price}} ريال</span>
                      </div>
                      <a href="{% url 'property_single' property.id %}" class="link-a">{{property.area}} , {{property.area.city}}
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">المساحة</h4>
                          <span>{{property.space}}m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">الغرف</h4>
                          <span>{{property.room_number}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">دورات المياه</h4>
                          <span>{{property.bathrooms}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">الصالات</h4>
                          <span>{{property.hall_room}}</span>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                              خيارات
                          </a>
                            <div class="dropdown-menu">
                              {% if request.user.customer %}
                            <a class="dropdown-item" style="color: red;" href="{% url 'blog_grid' %}">إبلاغ!</a>
                            {% endif %}
                              <a class="dropdown-item" href="{% url 'blog_grid' %}">مشاركة</a>
                              {% if user.is_authenticated and user.agent %}
                              {% if request.user.agent == property.agent %}
                              <a class="dropdown-item" href="{% url 'edit_property' property.id %}">تعديل</a>
                              <a class="dropdown-item" href="{% url 'delete_property' property.id %}">حذف</a>
                              {% endif %}
                              {% endif %}
                            </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Agent Single -->

  </main><!-- End #main -->
  {% endblock %}
