{% extends 'base.html' %}
{% load static %}

{% block title %}
تفاصيل العقار
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">تفاصيل العقار</h1>
              <h4 class="color-text-a">{{prop.title}} {{prop.property_type}}</h4>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <button type="submit" class="btn btn-warning">حجز العقار</button>
                </li>
              </ol>
            </nav>
          </div>
          <!-- <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      خيارات
                  </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'blog_grid' %}">مشاركة</a>
                      <a class="dropdown-item" href="#">تعديل</a>
                      <a class="dropdown-item" href="{% url 'contact' %}">حذف</a>
                    </div>
                </li>
              </ul>
            </nav>
          </div> -->
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="property-single-carousel" class="swiper">
              <div class="swiper-wrapper">
                <div class="carousel-item-b swiper-slide">
                  <a href="{{prop.img.url}}" class="image-link">
                    <img src="{{prop.img.url}}" alt="image here" class="img-a img-fluid">
                  </a>
                </div>
                <!-- <div class="carousel-item-b swiper-slide">
                  <a href="{% static 'assets/img/slide-2.jpg' %}" class="image-link">
                  <img src="{% static 'assets/img/slide-2.jpg' %}" alt="">
                </a>
                </div> -->
              </div>
            </div>
            <div class="property-single-carousel-pagination carousel-pagination"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-cash">R.Y</span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c">{{prop.price}}</h5>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d1 section-t4">
                        <h3 class="title-d1">تفاصيل العقار</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>رقم العقار:</strong>
                        <span>{{prop.id}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>الموقع:</strong>
                        <span>{{prop.location}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>نوع العقار:</strong>
                        <span>{{prop.property_type}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>حالة العقار:</strong>
                        <span>{{prop.build_year}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>نوع السكن:</strong>
                        <span>{{prop.house_type}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>الشوارع:</strong>
                        <span>{{prop.street_number}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>المساحة:</strong>
                        <span>{{prop.space}}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>غرف:</strong>
                        <span>{{prop.room_number}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>دورات المياه:</strong>
                        <span>{{prop.bathrooms}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>الصالات:</strong>
                        <span>{{prop.hall_room}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>الادوار:</strong>
                        <span>{{prop.floor}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d1">
                      <h3 class="title-d1">وصف العقار </h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    {{prop.details}}
                  </p>
                </div>
                <div class="row section-t3">
                  <div class="col-sm-12">
                    <div class="title-box-d1">
                      <h3 class="title-d1">ملحقات وتفصايل أكثر </h3>
                    </div>
                  </div>
                </div>
                <div class="amenities-list color-text-a">
                  <ul class="no-margin">
                    {% if prop.pool == True %}
                    <li>مسبح</li>
                    {% endif %}
                    {% if prop.kitchen == True %}
                    <li>مطبخ راكب</li>
                    {% endif %}
                    {% if prop.roof == True %}
                    <li>مع سطح</li>
                    {% endif %}
                    {% if prop.modern == True %}
                    <li>جديدة</li>
                    {% endif %}
                    {% if prop.appendix == True %}
                    <li>حوش</li>
                    {% endif %}
                    {% if prop.elevator == True %}
                    <li>مصعد</li>
                    {% endif %}
                    {% if prop.basement == True %}
                    <li>بدروم</li>
                    {% endif %}
                    {% if prop.furnished == True %}
                    <li>مفروشة</li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-video-tab" data-bs-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="true">فيديو</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" id="pills-map-tab" data-bs-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">الموقع على الخريطة</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <iframe src="https://player.vimeo.com/video/73221098" width="100%" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
                <img src="{% static 'assets/img/plan2.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d351.0065110662988!2d44.19335008930394!3d15.330416314604419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1603dbee2b198d27%3A0xe08a1e804cdb1fe1!2z2KfZhNit2Yog2KfZhNiz2YrYp9iz2Yo!5e0!3m2!1sar!2s!4v1706391286389!5m2!1sar!2s"
                 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
                 referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d1">
                  <h3 class="title-d1">تواصل</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <a href="{% url 'agent_single' id=prop.agent.id %}">
                  {% if prop.agent.profil_photo %}
                    <img src="{{prop.agent.profil_photo.url}}" alt="" class="img-fluid">
                    {% else %}
                    <img src="{% static 'assets/img/avatar1.png' %}" alt="" class="img-fluid">
                    {% endif %}
              </a>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="property-agent">
                  <h4 class="title-agent">{{prop.agent.user.username}}</h4>
                  <p class="color-text-a">
                                            نص مقتبص من عمنا Bard
                                            <br>
                          أنا خبير عقاري مُحترف، أمتلك خبرة واسعة في مجال العقارات، 
                          أساعدك في بيع وشراء العقارات بأفضل الأسعار
                          ، وتقديم الاستشارات العقارية المهنية
                          ، و إيجاد أفضل الحلول العقارية التي تلبي احتياجاتك. 
                          تواصل معي لتحقيق أهدافك العقارية.
                  </p>
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                      <strong>جوال:</strong>
                      <span class="color-text-a">{{prop.agent.phone}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>البريد الالكتروني:</strong>
                      <span class="color-text-a">{{prop.agent.user.email}}</span>
                    </li>
                  </ul>
                  <div class="socials-a">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="property-contact">
                  <form class="form-a">
                    <div class="row">
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg form-control-a" id="inputName" placeholder="اسمك" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <input type="email" class="form-control form-control-lg form-control-a" id="inputEmail1" placeholder="البريد الالكتروني" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <textarea id="textMessage" class="form-control" placeholder="اترك رسالتك هنا" name="message" cols="45" rows="8" required></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-a">  ارسال   </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div> 
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="title-box-d1">
              <h3 class="title-d1" style="direction: rtl;">التعليقات ({{commentnum}})</h3>
            </div>
            <div class="box-comments" style="width: 100%; height: 500px; overflow: auto; border-top: 2px solid #2eca6a; border-bottom: 2px solid #2eca6a; padding: 10px;">
              <ul class="list-comments">
                {% for comment in cuscomment %}
                <li style="padding-bottom: 0.5rem;">
                  <div class="comment-avatar">
                    {% if comment.customer.photo %}
                    <img src="{{comment.customer.photo.url}}" alt="">
                    {% else %}
                    <img src="{% static 'assets/img/avatar1.png' %}" alt="">
                    {% endif %}
                  </div>
                  <div class="comment-details" style="padding-right: 25px;">
                    <h4 class="comment-author">{{comment.customer.user.username}}</h4>
                    <span>{{comment.date}}</span>
                    <p class="comment-description">
                      {{comment.comment}}
                    </p>
                    <a href="#">Reply</a>
                  </div>
                </li>
                <hr>
                {% endfor %}
              </ul>
            </div>
            <br>
            <br>
            {% if request.user.customer %}
            <div class="form-comments">
              <div class="title-box-d1">
                <h3 class="title-d1" style="direction: rtl;"> اترك تعليقك هنا</h3>
              </div>
              <form class="form-a" action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea id="textMessage" class="form-control" placeholder="التعليق..." name="message" cols="45" rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">ارسل تعليقك</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section><!-- End Property Single-->

  </main><!-- End #main -->

{% endblock %}