{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block title %}
العقارات
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">العقارات</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select" id="property-select">
                  <option value="all">الكل</option>
                  <option value="rental">إيجار</option>
                  <option value="buying">بيع</option>
                </select>
              </form>
            </div>
          </div>
          
          <script>
            const sortSelect = document.getElementById('property-select');
sortSelect.addEventListener('change', filterOrders);

function filterOrders() {
  const selectedValue = sortSelect.value;
  const orderElements = document.querySelectorAll('.property');

  orderElements.forEach(order => {
    if (selectedValue === 'all') {
      order.style.display = 'block';
    } else if (selectedValue === 'rental' && order.classList.contains('rental')) {
      order.style.display = 'block';
    } else if (selectedValue === 'buying' && order.classList.contains('buying')) {
      order.style.display = 'block';
    } else {
      order.style.display = 'none';
    }
  });
}
          </script>
        
          {% include 'parts/alerts.html' %}

        {% for property in properties %}
          <div class="col-md-4 property property-{{property.property_type}} {% if property.state %}order-state{% endif %} {% if property.title == 'إيجار' %}rental{% endif %} {% if property.title == 'بيع' %}buying{% endif %} {% if property.id %}old-to-new{% endif %}">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                {% if property.img %}
                <img src="{{property.img.url}}" loading="lazy" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                {% else %}
                <img src="{% static 'assets/img/noPhoto.png' %}" loading="lazy" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                {% endif %}
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'property_single' property.id %}">{{property.title}}
                        <br>{{property.property_type}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">السعر | {{property.price}} ريال</span>
                    </div>
                    <a href="{% url 'property_single' property.id %}" class="link-a">{{property.area}} , {{property.area.city}}
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">المساحة</h4>
                        <span>{{property.space}}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الغرف</h4>
                        <span>{{property.room_number}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">دورات المياه</h4>
                        <span>{{property.bathrooms}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الصالات</h4>
                        <span>{{property.hall_room}}</span>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                            خيارات
                        </a>
                          <div class="dropdown-menu">
                            {% if request.user.customer %}
                            <a class="dropdown-item" style="color: red;" href="{% url 'report_property' property.id %}">إبلاغ!</a>
                            {% endif %}
                            <a class="dropdown-item" href="">مشاركة</a>
                            {% if request.user.customer %}
                            <a class="dropdown-item" href="{% url 'add_comp' property.id %}">إضافة الى المقارنة</a>
                            <a class="dropdown-item" style="color: #2eca6a;" href="{% url 'add_fave' property.id %}">إضافة الى المفضلة</a>
                            {% endif %}
                            {% if user.is_authenticated and user.agent %}
                            {% if request.user.agent == property.agent %}
                            <a class="dropdown-item" style="color: #2eca6a;" href="{% url 'payment' property.id %}">ترويج العقار</a>
                            <a class="dropdown-item" href="{% url 'edit_property' property.id %}">تعديل</a>
                            {% if property.state == False %}
                            <a class="dropdown-item" style="color: red;" href="{% url 'delete_property' property.id %}">حذف</a>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <center>
            <h1 class="title-single">لا يوجد <span class="color-b">عقار</span> حالياً...</h1>
          </center>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

  {% endblock %}
