{% extends 'base.html' %}
{% load static %}

{% block title %}
عن إيجاد
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">من نحن</h1>
            </div>
          </div>
         
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="{% static 'assets/img/slide-about-1.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">عن إيجاد
                <!-- <span></span> -->
              </h3>
              <!-- <p>Art & Creative</p> -->
            </div>
          </div>

        <!-- ======= Services Section ======= -->
        <section class="section-services section-t8">
          <div class="container">
           
            <div class="row">
              <div class="col-md-4">
                <div class="card-box-c foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-eyeglasses"></span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h2 class="title-c">الرؤية</h2>
                    </div>
                  </div>
                  <div class="card-body-c">
                    <p class="content-c">
                      ان نكون الشركة التي تأتي في ذهن عملائنا عندما يفكرون في عرض او طلب عقاراتهم
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-box-c foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-file-text"></span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h2 class="title-c">الرسالة</h2>
                    </div>
                  </div>
                  <div class="card-body-c">
                    <p class="content-c">
                      نسعى في شركة إجاد إالى ان نكون حلقة وصل بين الوكلاء العقاريين و الباحثين عن عقار ، في مكان واحد
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-box-c foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-card-checklist"></span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h2 class="title-c">الأهداف</h2>
                    </div>
                  </div>
                  <div class="card-body-c">
                    <p class="content-c">
                      1- توفير طلبات الباحثين عن عقار بشكل كامل <br> 2- تسهيل عملية البحث عن عقار <br> 3- التحول الرقمي للبحث عن العقارات في المجتمع 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- End Services Section -->

          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="{% static 'assets/img/mohammed.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>EJAD - إيجاد</span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d1">
                  <h3 class="title-d1">محمد الخولاني</h3>
                    <span>الرئيس التنفيذي</span>
                </div>
                <p class="color-text-a">
                  عزيزي زائر موقع "إيجاد",
                </p>
                <p class="color-text-a">
                  باسمي وباسم فريق العمل المتميز لدينا، أرحب بك على موقعنا الإلكتروني المتخصص في طلب وعرض العقارات. منذ تأسيس "إيجاد" عام 2024، كان هدفنا الرئيسي هو توفير تجربة سلسة وفعالة لكل من يبحث عن عقار مناسب لاحتياجاته.
                  على موقعنا، ستجد مجموعة متنوعة من العقارات المتاحة للبيع أو الإيجار، بما في ذلك الشقق والفلل والأراضي والمكاتب. نحن نفخر بتقديم قائمة شاملة ودقيقة، مع توفير جميع التفاصيل والصور اللازمة لمساعدتك في اتخاذ قرارك بحكمة.
                  ما يميز "إيجاد" هو فريق خبرائنا المتخصصين، الذين سيقدمون لك المشورة والدعم اللازمين طوال عملية البحث والتفاوض. لدينا شبكة واسعة من الشركاء الموثوقين في مجال العقارات، مما يتيح لنا الحصول على أفضل العروض والصفقات.
                  نحن ملتزمون بتوفير تجربة رائعة لكل عميل. سواء كنت تبحث عن منزل جديد أو تريد عرض عقارك للبيع أو الإيجار، فإننا سنعمل معك بكل جد واحترافية للوصول إلى النتيجة المرجوة.
                </p>
                <p class="color-text-a">
                  لا تتردد في التواصل معنا عبر الموقع أو الاتصال على أرقامنا. فريق "إيجاد" متواجد لخدمتك في أي وقت.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =======Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">فريق العمل</h1>
            </div>
          </div>
         
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Team Grid ======= -->
    <section class="agents-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/mohammed.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="#" class="link-two">محمد الخولاني
                        <br>
                        <br>Full-Stack</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    هناك امل مع إيجاد.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>الهاتف: </strong><a href="tel:771689496"> 967771689496+</a>
                    </p>
                    <p>
                      <strong>الإيميل: </strong><a href="mailto:mnmn030405@gmail.com"> mnmn030405@gmail.com</a>
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/alwi.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="#" class="link-two">علوي السقاف
                        <br>
                        <br>Analyst</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>الهاتف: </strong> 967773324281+
                    </p>
                    <p>
                      <strong>الإيميل: </strong> alwi77@gmail.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/saheem.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="#" class="link-two">سهيم الذبحاني
                        <br>
                        <br>Front-End</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>الهاتف: </strong> 967777584686+
                    </p>
                    <p>
                      <strong>الإيميل: </strong> saheemalthobhani7@gmail.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/avatar1.png' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="#" class="link-two">إيثار العبسي
                        <br>
                        <br> Escala</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>الهاتف: </strong>
                    </p>
                    <p>
                      <strong>الإيميل: </strong> agents@example.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/avatar1.png' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="#" class="link-two">ابتسام زباره
                        <br>
                        <br> Escala</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>الهاتف: </strong>
                    </p>
                    <p>
                      <strong>الإيميل: </strong> agents@example.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Grid-->

  </main><!-- End #main -->
  {% endblock %}
