{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap" rel="stylesheet">

    <title>Ejad | {% block title %}

      {% endblock %}</title>
        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
        <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{% static 'vendor2/bootstrap/css/bootstrap.min.css' %}">
        <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{% static 'vendor2/animate/animate.css' %}">
        <!--===============================================================================================-->	
          <link rel="stylesheet" type="text/css" href="{% static 'vendor2/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{% static 'vendor2/select2/select2.min.css' %}">
        <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{% static 'css/util2.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
          <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-liberty-market.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

<!--

  
TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
  </head>

<body>

{% include 'parts/preloader.html' %}

{% include 'parts/nav.html' %}

{% block content %}

{% endblock %}

{% include 'parts/footer.html' %}

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.j' %}s"></script>

  <script src="{% static 'assets/js/tabs.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

    <!--===============================================================================================-->	
	<script src="{% static 'vendor2/jquery/jquery-3.2.1.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'vendor2/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor2/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'vendor2/select2/select2.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'vendor2/tilt/tilt.jquery.min.js' %}"></script>
    <script >
      $('.js-tilt').tilt({
        scale: 1.1
      })
    </script>
  <!--===============================================================================================-->
    <script src="{% static 'js/main2.js' %}"></script>
  </body>
</html>