{% extends 'base.html' %}
{% load static %}

{% block title %}
صفحة الدفع
{% endblock %}

{% block content %}
<br><br><br><br><br><br>


<div class="container mt-8">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card" style="border:2px solid #2eca6a;">
        <div class="card-header text-white" style="background-color: #2eca6a;">
          <h5 class="text-center">صفحة الدفع</h5>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <p>
              للايداع عبر بنك الكريمي يتم لرقم المميز هذا "1265165" باسم "علوي أمين عبدالرحمن السقاف"
            </p>
            <p>
              773324281 أو عبر أي شبكة من شبكات الحوالات باسم/ " شركة ايجاد للتطوير العقاري"
            </p>
            <div class="form-group">
               <label for="id_reference">رقم العملية أو (الحوالة)</label>
              <input type="text" name="reference" id="id_reference" class="form-control form-control-lg" placeholder="أدخل الرقم هنا" oninput="checkInput()" required>
              </div>
              <br>
              <div class="form-group">
                <label for="id_img">ارفع الصورة</label>
                <input type="file" name="img" id="id_img" class="form-control-file border rounded p-2">
            </div>
            </div>
            <button type="submit" class="btn btn-a"> ارسال</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!--  كود جافا سكريبت خاص بحقل رقم الحوال    -->
<script>

  function checkInput() {
      var input = document.getElementById('id_reference');
      input.value = input.value.replace(/\D/g, '').substring(0, 10);
  }
</script>


{% endblock %}
