{% extends 'base.html' %}
{% load static %}

{% block title %}
المفضلة
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">المفضلة</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  <option selected>All</option>
                  <option value="1">New to Old</option>
                  <option value="2">For Rent</option>
                  <option value="3">For Sale</option>
                </select>
              </form>
            </div>
          </div>


        {% for msg in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>اهلا، </strong>{{msg}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}


          {% if user.is_authenticated and user.customer %}
          {% for fave in fave %}
          {% if request.user.customer == fave.customer %}
          {% if fave.status == True %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                {% if fave.property.img %}
                <img src="{{fave.property.img.url}}" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                {% else %}
                <img src="{% static 'assets/img/noPhoto.png' %}" alt="" class="img-a img-fluid" style="height: 350px; width: 100%;">
                {% endif %}
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'property_single' fave.property.id %}">{{fave.property.title}}
                        <br>{{fave.property.property_type}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">السعر | {{fave.property.price}} ريال</span>
                    </div>
                    <a href="{% url 'property_single' fave.property.id %}" class="link-a">{{fave.property.property_date}}
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">المساحة</h4>
                        <span>{{fave.property.space}}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الغرف</h4>
                        <span>{{fave.property.room_number}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">دورات المياه</h4>
                        <span>{{fave.property.bathrooms}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الصالات</h4>
                        <span>{{fave.property.hall_room}}</span>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                            خيارات
                        </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" style="color: red;" href="{% url 'blog_grid' %}">إبلاغ!</a>
                            <a class="dropdown-item" href="{% url 'blog_grid' %}">مشاركة</a>
                            <a class="dropdown-item" href="{% url 'rm_fave' fave.id %}" style="color: red;">إزالة من المفضلة!</a>
                            {% if user.is_authenticated and user.agent %}
                            {% if request.user.agent == property.agent %}
                            <a class="dropdown-item" href="{% url 'edit_property' property.id %}">تعديل</a>
                            <a class="dropdown-item" href="{% url 'delete_property' property.id %}">حذف</a>
                            {% endif %}
                            {% endif %}
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endif %}


        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

  {% endblock %}
