{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block title %}
الطلبات
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">الطلبات</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select" id="sort-select">
                  <option value="all">الكل</option>
                  <option value="seriousOrder">الطلبات الجادة</option>
                  <option value="rental">إيجار</option>
                  <option value="buying">شراء</option>
                </select>
              </form>
            </div>
          </div>
          
          <script>
            const sortSelect = document.getElementById('sort-select');
sortSelect.addEventListener('change', filterOrders);

function filterOrders() {
  const selectedValue = sortSelect.value;
  const orderElements = document.querySelectorAll('.order');

  orderElements.forEach(order => {
    if (selectedValue === 'all') {
      order.style.display = 'block';
    } else if (selectedValue === 'rental' && order.classList.contains('rental')) {
      order.style.display = 'block';
    } else if (selectedValue === 'buying' && order.classList.contains('buying')) {
      order.style.display = 'block';
    } else if (selectedValue === 'seriousOrder' && order.classList.contains('order-state')) {
      order.style.display = 'block';
    } else {
      order.style.display = 'none';
    }
  });
}
          </script>

          
          {% include 'parts/alerts.html' %}


          {% for order in orders %}
          <!-- بداية الطلب -->
          <div class="col-md-4 order order-{{order.order_type}} {% if order.state %}order-state{% endif %} {% if order.title == 'إيجار' %}rental{% endif %} {% if order.title == 'شراء' %}buying{% endif %} {% if order.id %}old-to-new{% endif %}">
            <div class="card-box-a card-shadow">
              <a href="{% url 'order_single' order.id %}">
              <div class="img-box-a">
                <img src="{% static 'assets/img/about-2.jpg' %}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                {% if order.state == True %}
                <div class="price-box d-flex" style="margin: 20px;">
                  <span class="price-a">طلب جاد</span>
                </div>
                {% endif %}
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      مطلوب
                        <br />{{order.title}} {{order.order_type}}
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">بين | {{order.start_price}} ريال</span>
                    </div>
                    <div class="price-box d-flex">
                      <span class="price-a">وبين | {{order.end_price}} ريال</span>
                    </div>
                    <a href="{% url 'order_single' order.id %}" class="link-a">{{order.area}} , {{order.area.city}}
                      <!-- <span class="bi bi-chevron-left"></span> -->
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">المساحة</h4>
                        <span>{{order.space}}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الغرف</h4>
                        <span>{{order.room_number}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">دورات المياه</h4>
                        <span>{{order.bathrooms}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الصالات</h4>
                        <span>{{order.hall_room}}</span>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                            خيارات
                        </a>
                          <div class="dropdown-menu">
                            {% if request.user.agent %}
                            <a class="dropdown-item" style="color: red;" href="{% url 'report_order' order.id %}">إبلاغ!</a>
                            {% endif %}
                            <a class="dropdown-item" href="">مشاركة</a>
                            <!-- {% post_to_whatsapp object_or_url "Share via WhatsApp" %} -->
                            {% if user.is_authenticated and user.customer %}
                            {% if request.user.customer == order.customer %}
                            {% if order.state == False %}
                            <a class="dropdown-item" href="{% url 'edit_order' order.id %}">تعديل</a>
                            <a class="dropdown-item" style="color: red;" href="{% url 'delete_order' order.id %}">حذف</a>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
            </div>
          </div>
          <!-- نهاية الطلب -->
          {% empty %}
          <center>
            <h1 class="title-single">لا يوجد <span class="color-b">طلب</span> حالياً...</h1>
          </center>
          {% endfor %}



        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->
  {% endblock %}
