{% load static %}

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'assets/images/logo4.png' %}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index' %}">الرئيسية</a></li>
                        <li><a href="#">الطلبات</a></li>
                        <li><a href="#">العقارات</a></li>
                        <li><a href="#aboutEjad">عن ايجاد</a></li>
                        <li><a href=""><i class="fas fa-search"></i> البحث</a></li>
                        <li><a href="phoneNumber"><i class="fas fa-user"></i> تسجيل </a></li>
                        
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
